/*------------------------------------------------------------------

FRACTION/GRID

Author:   Robert Piirainen
Twitter:  @robertpiira

------------------------------------------------------------------*/
.grid-container {
  padding: 0;
  list-style: none; }

.grid-unit {
  margin: 0;
  letter-spacing: normal;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
