@import 'fraction-grid';

// Define new settigs
//----------------------------------------------------

//$default-gutters: 1.5%;

// DEMO Basic
//----------------------------------------------------

// define a block as a grid container
.demo-basic {
  @include grid;
}

// Define a unit within the grid container.
// Include parameters to give the unit a relative width that spans 3 out of 4 columns.
.demo-basic--unit {
  @include grid-unit(3, 4)
}

// Again, define a unit.
// This unit will span 1 out of 4 columns.
.demo-basic--unit-aside {
  @include grid-unit(1, 4)
}

// DEMO Nested
//----------------------------------------------------

// Nesting grids works works great, all you need to know is how many
// columns (or in how many parts) the layout is divided in, in its new context.

// But if you are using % unit for gutters, then we need to include some 
// extra paramenters for the grid mixins:

// 1. The initial gutter of the containing unit
// 2. The containing unit's column span
// 3. The containing unit's total column context

.demo-responsive-nested {
  @include grid($default-gutters, 3, 4);
}

.demo-responsive-nested--unit {
  @include grid-unit(1, 3, $default-gutters, 3, 4);
}

// DEMO Responsive
//----------------------------------------------------

@media only screen and (min-width: 481px) {

  .demo-responsive {
    @include grid;
  }

  .demo-responsive--unit {
    @include grid-unit(1, 2);
  }

}

@media only screen and (min-width: 769px) {

  .demo-responsive--unit {
    @include grid-unit(1, 4);
  }

}

//----------------------------------------------------









// Demo styles (no need to look here really)
//----------------------------------------------------

$base-bg: #1987B3;

* {margin: 0; padding: 0;}

a {color: $base-bg;}

ul {list-style: none;}

body {
  padding: 2em 0;
  font-family: sans-serif;
}

.logo {
  margin-bottom: 2em;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: -.04em;
  span { 
      color: darken($base-bg, 10);
      margin: 0 -.2em 0 -.1em;
      position: relative;
      z-index: 1;
      text-shadow: 1px 1px 0 #fff;
    }
}

.page {
  margin: 1em auto;
  width: 93%;
}

.footer {
  margin-top: .5em;
  padding-top: 1em;
  border-top: 1px dashed $base-bg;

  li {
    margin-right: .5em;
    display: inline;
  }
}

.demo-box {
  margin: 0 0 1em;
  background: $base-bg;
  height: 100px;
  border-radius: 4px;

  color: #fff;
  text-align: center;
  line-height: 100px;

  .demo-basic & {
    background: darken($base-bg, 10);
  }

  .demo-responsive-nested & {
    background: darken($base-bg, 20);
  }

}
